[Unit]
Description=Weekly astro Docker image prune

[Timer]
OnCalendar=weekly
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
